{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш_API_ключ&lang=ru_RU" type="text/javascript"></script>

<h2>{{ title }}</h2>

<br />
<p>
    Мы – современное медицинское учреждение, специализирующееся на предоставлении высококачественных услуг по проведению МРТ и КТ исследований. Наш центр оснащен
     передовым оборудованием и располагает командой опытных специалистов, готовых оказать квалифицированную помощь пациентам. <br />
    <br />Уделяя особое внимание комфорту и безопасности наших пациентов, мы стремимся сделать процесс обследования максимально комфортным.
     Наша миссия – предоставить точные диагностические результаты и поддержать пациентов на пути к выздоровлению. Доверьте свое здоровье
      профессионалам – это наш приоритет.<br />
    <br /> <img src="{% static 'app/content/our_team.jpg'%} " alt="Наша команда"> <br />
<p>Наша команда</p>
 <br /> <p>
    Наша цель - вдохновить всех, кто ищет высококачественное и точное исследование с помощью магнитно-резонансной томографии.
    Мы готовы провести вас через удивительный процесс диагностики, предоставить подробную информацию о вашем здоровье и решить ваши вопросы. 
    Присоединяйтесь к нам и откройте новый уровень заботы о вашем здоровье с опытными специалистами центра МРТ.
        </p>
</p>
<div class="geo-container">
    <div class="geo-text">
        <h2>Адрес: </h2>
        <p>
            Улица Пушкина, дом Колотушкина
        </p>
    </div>
</div>

{% endblock %}
