{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}</h2>

{% for post in posts %}
<hr />
<div class="story-grid">
    <div>

    </div>
    <div>
        <div class="post-title-cont">
            <h2> {{ post.title }} </h2>
        </div>        
        <h4> {{ post.posted }} </h4>
        <div class="post-author-cont">
            <p> {{ post.author }} </p>
        </div>

        <p> {{ post.description }} </p>
        <div class="read-more-container">
            <p><a class="read-more-text" href="{% url 'blogpost' parametr=post.id %}">Читать далее</a></p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}