{% extends "app/layout.html" %}

{% block content %}

{% load static %}


<head>
    <title>Ссылки</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="header-links"><h1 class="header-links-title">Ссылки</h1></div>
    <div class="div-links-a">
        <p class="link-haha"><a class="link-needed" href="https://pskovokb.ru/" target="_blank"> <img class="link-images" src="{% static 'app/content/PskObl.svg' %}" alt="Logo 1" /> - Псковская областная больница</p></a>
        <p class="link-haha"><a class="link-needed" href="http://www.gbpskov.ru/" target="_blank"> <img img class="link-images" src="{% static 'app/content/PskGor.jpg' %}" alt="Logo 1" /> - Псковская городская больница</p></a>
        <p class="link-haha"><a class="link-needed" href="https://47lokb.ru/" target="_blank"> <img img class="link-images" src="{% static 'app/content/LenObl.svg' %}" alt="Logo 1" /> - Ленинградская областная больница</p></a>
    </div>
</body>


{% endblock %}